.scrollbar-bar-type {
	height: 6px;
	background-color: rgb(53, 48, 44);
}

.scrollbar-bar-type .scrollbar-indicator {
	position: absolute;
	height: 6px;
	background-color: rgb(255, 144, 0);
}

.scrollbar-over-type {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 8px;
}

.scrollbar-over-type .scrollbar-indicator {
	position: absolute;
	height: 4px;
	margin-top: 2px;
	background-color: #666666;
}