.center-container {
	display: table;	
	width: 100%;
	height: 100%;
}
.center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.noautooverflow {
	overflow: initial;
}

.gps-screen {
	padding: 50px;
	color: white;
	font-size: 30px;
}

.fill {
	width: 100%;
	height: 100%;
}

*.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.splash {
	text-align: center;
	margin-top: 50px;
}

.ui-header .ui-title {
	color: #3db44a;	
}

.race-green {
	color: #3db44a;	
}

.footer {	
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 70px;
}

.footer-gray {
	background-color: #1f1f1f;	
	font-size: 15px;
}

.footer p {
	font-size: 25px;
	margin: 20px;
}

.menu-item {
	width: 140px;;
	height: 150px;
	line-height: 150px;
	display: block;
	float: left;
	text-align: center;
	font-size: 24px;
}

.menu-item img {
	vertical-align: middle;
	margin-bottom: 15px;
}

.menu-label {
	position: relative;
	top: -35px;
	line-height: normal;
}

.menu {
	padding: 0px 10px;
}

.text-center {
	text-align: center;
}

img {
	-webkit-user-drag: none;
}

.locked-game {
}

.locked-img {
	display: none;
}

.locked-game .unlocked-img {
	display: none;
}
.locked-game .locked-img {
	display: inline;
}

#lockedgame-content {
	font-size: 20px;
}

.hidden {
	display: none;
}

.race-btn {
	display: block;
	border: 2px solid white;
	margin: 10px;
}

#race-canvas {
	width: 100%;
	height: 100%;
	padding: 0px;
}

.stat {
	width: 100%;
	height: 33%;
	padding: 15px 0px;
}

.stat-label {
	margin-left: 50px;
	width: 65px;
	height: 65px;
	text-align: center;
	line-height: 65px;
	float: left;
	vertical-align: middle;
}

.stat-label img {
	vertical-align: middle;
	display: inline-block;
}

.stat-value {
	font-size: 60px;
	margin-left: 25px;
	float: left;
}

.stat-sub {
	font-size: 50%;
	margin-left: 145px;
	line-height: 0%;
	clear: both;
	text-align: left;
}

#summary {
	text-align: center;
}

.summary-label {
	font-size: 38px;
}

.summary-value {
	font-size: 20px;
}


#error-page {
	background-color: black;
	color: white;	
	text-align: center;
	word-wrap: break-word;
}

#closing {
	background-color: white;
	color: black;
	text-align: center;	
}

.flick-right {
	border-right: 5px solid #3f3f3f;
}

.flick-left {
	border-left: 5px solid #3f3f3f;
}

.flick-up {
	border-up: 5px solid #3f3f3f;
}

.flick-down {
	border-bottom: 5px solid #3f3f3f;
}

#race-game .ui-content {
	padding: 0 0;
	margin: 0 0;
}

.setter {
	font-size: 4rem;
	text-align: center;
	padding: 25px 0px;
}
.setter-btn {
	width: 20%;
	float: left;
	line-height: 75%;
}
.setter-value {
	width: 60%;	
	float: left;
	line-height: 75%;
}
.setter-ok {
	width: 100%;
	color: white;
	background-color: #46be46;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 10px;
}
.setter-units {
	font-size: 30%;
}

.ry-title {
	text-align: center;
	padding: 25px 0px;
}

#newgames .ui-content {
	padding: 0 0;
	margin: 0 0;
}

#achievement-description {
	padding-bottom: 30px;
}

#achievement-awarded, #achievement-progress {
	font-size: 50%;
	padding-bottom: 10px;
}

.new-achievement {
	min-height: 100px;
}

.centeredImage
    {
    text-align:center;
    margin-top:85px;
    margin-bottom:0px;
    padding:0px;
    }

#debug-log {
	font-size: 15px;
}

#error-message {
	font-size: 15px;
	text-align: center;
}

.binary-toggle.toggle-on .off {
	display: none;
}

.binary-toggle:not(.toggle-on) .on {
	display: none;
}

.skip-gps-btn {
	width: 100%;
	color: black;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 10px;
}

.skip-btn p {
	font-size: 32px;
	font-weight: bold;	
	margin: 5px 5px;
}

.left-btn {
	width: 50%;
	color: black;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 32px;
	font-weight: bold;	
	padding: 15px 15px;
	border-right: 1px solid rgba(0,0,0,0.1);
}
.right-btn {
	width: 50%;
	color: black;
	background-color: white;
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 32px;
	font-weight: bold;	
	padding: 15px 15px;
	border-left: 1px solid rgba(0,0,0,0.1);
}

.left-btn:active,.right-btn:active {
	background-color: #3db44a;		
}


.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 320px;
	z-index: 999;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 30px;
	font-size: 24px;
}

.overlay p {
	font-size: 28px;
}

#about {
	font-size: 21px;	
	line-height: 100%;
	word-wrap: break-word;
}

#about .ui-content {
	padding: 10px 10px;	
}

#about p {
	font-size: 24px;
}

#no-bluetooth .ui-content {
	padding: 10px 10px;
	font-size: 24px;
}

.bluetoothcenter {
	text-align: center;
	margin-top: 20px;
}

.awarded {
	background-color: #252525;
}

.awarded:after {
	content: url('../images/awarded.png');
	position: absolute;
	right: 25px;
	top: 35px;
}

.competed {
	background-color: #252525;
}

.loading-bar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 0%;
	height: 5px;
	background-color: white;
}