body {
    -webkit-user-select: none;
    background: black !important;
}
.ui-body-c {
    background: black;
    text-shadow: none;
    color: white;
    line-height: 24px;
    font-size: 18px;
}

.ui-header {
    top: 0;
    height: 52px;
    padding: 0;
    border: 0;
}

.ui-footer {
    border: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.ui-footer > button {
    height: 76px;
}

.header_title {
    font-size: 30px;
    text-align: left;
    margin-left: 12px;
    line-height: 52px;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}

.ui-header img {
    height: 44px;
}

.ui-content {
    background: #000;
    padding: 12px 16px;
}

.ui-btn-up-c:visited, .ui-btn-up-c a.ui-link-inherit {
    color: white;
}

.ui-btn-up-c, .ui-btn-down-c, .ui-btn-hover-c {
    border: 1px solid #333;
    text-shadow: none;
    color: white;
    background: black;
}

.ui-btn-down-c, .ui-btn-hover-c {
    background: #4d4d4d;
    color: white;
}

.ui-btn-inner, .ui-fullsize .ui-btn-inner {
    border-top: 1px solid black;
    border-color: rgba(0, 0, 0, .3);
    font-size: 31px; /* 44px */
    font-weight: 100;
}

.ui-btn-down-c:hover, .ui-btn.ui-btn-hover-c a.ui-link-inherit, .ui-btn-down-c a.ui-link-inherit {
    color: white;
}

.ui-checkbox-off .ui-icon,
.ui-checkbox-on .ui-icon {
    background-color: inherit;
    border: 1px solid #ff9100 !important;
    border-radius: 0px;
}

.ui-radio .ui-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: -15px !important;
    left: 9px !important;
    background-size: 0;
}

fieldset.ui-controlgroup {
    margin: 4px 0;
    border-radius: 0;
}

.tail {
    position: relative;
    float: left;
    height: 118px;
    width: 114px;
    margin: 0px 15px;
}

.start_tail {
    position: relative;
    float: left;
    height: 74px;
    width: 144px;
    border: 1px solid #ff9100;
}

.tail .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ff9100;
    font-weight: bold;
    font-size: 22px;
    line-height: 118px;
}

.start_tail .title {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    color: #ff9100;
    font-size: 18px;
    line-height: 18px;
}

.steps {
    border-left: 0;
    border-top: 0;
}

.distance {
    border-top: 0;
    border-right: 0;
}

.time {
    border-bottom: 0;
    border-left: 0;
}

.speed {
    border-right: 0;
    border-bottom: 0;
}

.time span {
    position: absolute;
}

.time .hours {
    left: 4px;
}

.time .sep-left {
    left: 42px;
}

.time .minutes {
    left: 53px;
}

.time .sep-right {
    left: 91px;
}

.time .seconds {
    left: 102px;
}

.navigation {
    background: #FF9100;
    width: 286px;
    height: 54px;
    border-radius: 10px;
    position: absolute;
    bottom: 17px;
}

.left {
    position: absolute;
    width: 142px;
    text-align: center;
    line-height: 54px;
    color: black;
    border-right: 1px solid black;
    font-weight: bold;
    font-size: 32px;
}

.right {
    position: absolute;
    left: 143px;
    width: 142px;
    text-align: center;
    line-height: 54px;
    color: black;
    border-left: 1px solid black;
    font-weight: bold;
    font-size: 32px;
}

.full {
    position: absolute;
    width: 286px;
    text-align: center;
    line-height: 54px;
    color: black;
    border: 0;
    font-weight: bold;
    font-size: 32px;
}

.value {
    position: absolute;
    top: 18px;
    line-height: 70px;
    color: #ff9100;
    text-align: center;
    width: 142px;
    font-size: 32px;
    font-weight: bold;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 16px;
    padding-top: 39px;
}

.ui-btn-hover-c, .ui-btn.ui-btn-hover-c {
    border: 1px solid #ff9100;
    background-color: #000;
}

.ui-btn-down-c, .ui-btn.ui-btn-down-c {
    background-color: #58493A;
    border: 1px solid #333;
}

.scrollable {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.ui-content .ui-listview {
    margin: 0; /* default margin of '-15px' breaks scrolling */
}

.settings-value {
    position: absolute;
    right: 16px;
}

.ui-navbar .ui-btn {
    height: 90px;
    background: #4D4D4D;
}

.ui-navbar .ui-btn-inner {
    padding: 0 !important;
}

.ui-navbar .ui-btn-text {
    line-height: 90px;
    font-size: 32px;
}

.listbox {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.listbox .listview li {
    height: 80px;
    border-bottom: 1px solid #333333;
}

.listbox .listview li input[type="radio"] {
    position: absolute;
    left: 28px;
    margin-top: 12px;
}

.listbox .listview li label.labelradio {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 72px;
    display: block;
}

.listbox .listview li label.labelradio:hover {
    background-color: #635D59;
}

li.profile-step-length > a {
    font-size: 80%; /* Reduce too big font, which overlap each other */
}

li.profile-step-length {
    min-height: 0;
}

.ui-listview li {
        position: relative;
}

.ui-listview li.li-has-multiline.disabled,
.ui-listview li.li-has-multiline.disabled > * {
        color: rgb(51, 51, 51);
}
.ui-listview li.li-has-multiline > a {
        margin-top: -14px;
        margin-bottom: -14px;
        padding-top: 14px;
        padding-bottom: 14px;
}
.ui-listview li.li-has-multiline.2lines > a {
        margin-bottom: -62px;
        padding-bottom: 62px;
}
.ui-listview li.li-has-multiline.disabled .li-text-sub {
        color: rgb(31, 31, 31);
}
.ui-listview li.li-has-multiline-sup {
        padding-top: 8px;
        padding-bottom: 9px;
        min-height: 90px;
}
.ui-listview li.li-has-multiline-sup.disabled {
        color: rgb(51, 51, 51);
}
.ui-listview li.li-has-multiline-sup > a {
        margin-top: -38px;
        margin-bottom: -14px;
        padding-top: 38px;
        padding-bottom: 14px;
}

.ui-listview li, .ui-listview li > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden!important;
        -webkit-user-select: none;
}
.ui-listview li .li-text-sub {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 24px;
        opacity: 0.5;
        text-overflow: ellipsis;
        overflow: hidden;
}

.ui-listview li input[type="checkbox"],
.ui-listview li input[type="radio"] {
        position: absolute;
        right: 8px;
        top: 0px;
        margin-top: 19px;
}
.ui-listview li.li-has-radio {
        padding-right: 68px;
}
.ui-listview li.li-has-radio label{
        display: block;
}